<form role='form' class='form-horizontal'>
    <h1>Edit {{name}}</h1>
    {{partial 'patrons/fields'}}
    <button class='btn btn-primary' {{action 'saveEdit'}}>Save</button>
    <button class='btn btn-default' {{action 'cancelEdit'}}>Cancel</button>
</form>