<h1>Create New Patron</h1>
<form role='form' class='form-horizontal' {{action 'save' on='submit'}}>
    {{partial 'patrons/fields'}}
    <button class='btn btn-primary' {{action save}}>Save</button>
</form>