<h1>{{full_title}}</h1>
<form role='form' class='form-horizontal'>
    {{partial 'books/fields'}}
    <button class='btn btn-primary' {{action 'save'}}>Save</button>
    <button class='btn btn-default' {{action 'cancel'}}>Cancel</button>
</form>