<div class='row'>
    <div class='col-md-10'>
        <h1>Book Catalogue</h1>
    </div>
    <div class='col-md-2'>
        {{#linkTo 'books.new' class='btn btn-default pull-right'}}New Book{{/linkTo}}
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        {{!-- {{new-over-time countHistory=creationHistory}} --}}
    </div>
</div>