<p>Name: {{view Ember.TextField valueBinding='name'}}</p>
<p>Code: {{view Ember.TextField valueBinding='code'}}</p>
<p>Gender: {{view Ember.TextField valueBinding='gender'}}</p>
<p>Email: {{view Ember.TextField valueBinding='email'}}</p>