<fieldset>
    <legend>Edit Checkout</legend>

    <div class='row'>
        <div class='large-12 columns'>
            <label>Book ID</label>
            {{view Ember.TextField valueBinding='book_id'}}
        </div>
    </div>

    <div class='row'>
        <div class='large-12 columns'>
            <label>Patron ID</label>
            {{view Ember.TextField valueBinding='patron_id'}}
        </div>
    </div>
</fieldset>