<div id='primary_menu'>
    <ul>
        <li>{{#linkTo 'index'}}Home{{/linkTo}}</li>
        <li>{{#linkTo 'books'}}Books{{/linkTo}}</li>
        <li>{{#linkTo 'patrons'}}Patrons{{/linkTo}}</li>
    </ul>
</div>

<div id='content'>
    {{outlet}}
</div>