<div id='filter_panel'>
    <ul>
        {{#each controller}}
            <li>{{#linkTo 'books.book' this}}{{full_title}}{{/linkTo}}</li>
        {{/each}}
    </ul>
</div>

<div id='item'>
    {{outlet}}
</div>
