<div class='small-4 columns'>
    <ul>
        {{#collection Ember.ListView contentBinding='filteredModel' height=500 rowHeight=40}}
            <li>{{#linkTo 'books.book' this}}{{full_title}}{{/linkTo}}</li>
        {{/collection}}
    </ul>
</div>

<div class='small-8 columns'>
    {{outlet}}
</div>
