<div class='small-3 columns'>
    <ul>
        {{#each controller}}
            <li>{{#linkTo 'books.book' this}}{{full_title}}{{/linkTo}}</li>
        {{/each}}
    </ul>
</div>

<div class='small-9 columns'>
    {{outlet}}
</div>
