<div class='col-md-4'>
    {{view Bootstrap.Forms.TextField valueBinding="filterQuery" label='' placeholder='Filter'}}

    {{#collection Library.SizingListView contentBinding='filteredModel' height=300 rowHeight=40}}
        {{#linkTo 'patrons.patron' this}}{{name}}{{/linkTo}}
    {{/collection}}
</div>

<div class='col-md-8'>
    {{outlet}}
</div>
