<form role='form' class='form-horizontal'>
    {{partial 'books/fields'}}
    <button class='btn btn-primary' {{action 'saveEdit'}}>Save</button>
    <button class='btn btn-default' {{action 'cancelEdit'}}>Cancel</button>
</form>