<div class='col-md-2'>
    <ul class="nav nav-pills nav-stacked">
        {{#link-to 'settings.index' tagName='li' href='false'}}
            {{#link-to 'settings.index'}}Settings{{/link-to}}
        {{/link-to}}
        {{#link-to 'settings.general' tagName='li' href='false'}}
            {{#link-to 'settings.general'}}General{{/link-to}}
        {{/link-to}}
        {{#link-to 'settings.events' tagName='li' href='false'}}
            {{#link-to 'settings.events'}}Events{{/link-to}}
        {{/link-to}}
        {{#link-to 'settings.checkout_log' tagName='li' href='false'}}
            {{#link-to 'settings.checkout_log'}}Checkout Log{{/link-to}}
        {{/link-to}}
    </ul>
</div>

<div class='col-md-10'>
    {{outlet}}
</div>