<div class='col-md-2'>
    <ul class="nav nav-pills nav-stacked">
        {{#linkTo 'settings.index' tagName='li' href='false'}}
            {{#linkTo 'settings.index'}}Settings{{/linkTo}}
        {{/linkTo}}
        {{#linkTo 'settings.general' tagName='li' href='false'}}
            {{#linkTo 'settings.general'}}General{{/linkTo}}
        {{/linkTo}}
        {{#linkTo 'settings.events' tagName='li' href='false'}}
            {{#linkTo 'settings.events'}}Events{{/linkTo}}
        {{/linkTo}}
    </ul>
</div>

<div class='col-md-10'>
    {{outlet}}
</div>